body{
  background-image: url('https://thumbs.dreamstime.com/z/fondo-vertical-cient%C3%ADfico-de-la-estructura-molecular-32370033.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.resume {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 240, 243);
    color:rgb(99, 98, 100);
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color:rgb(61, 6, 124);
    margin-top: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.section {
    margin-bottom: 30px;
}

.resume p {
    margin: 0;
    padding: 0;
}

.resume p strong {
    font-weight: bold;
}

.resume p span {
    display: inline-block;
    margin-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

