@import "~bootstrap/scss/bootstrap";

html {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-color: rgb(208, 242, 250);
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 100%;
    margin: 0;
    padding: 0;
}
main{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:white;
  font-weight: bolder;
}
.titulo{
  color:rgb(5, 5, 5);
  text-shadow: 2px 2px rgb(253, 253, 253);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
@media (max-width: 1000px) { /* ajustar el valor de ancho en pantallas más pequeñas */
  .titulo {
      font-size: larger;
      margin: 5px;
      padding: 20px;
  }
}
@media (max-width: 600px) { /* ajustar el valor de ancho en pantallas más pequeñas */
  .titulo {
      font-size: medium;
      margin: 5px;
      padding: 10px;
  }
}
//NAVBAR
.cabecera{
   background-image:  url('/public/imagenes/cabecera.jpg'); 
   background-repeat: no-repeat;
   box-shadow: 10px;
}
.cabeceraEdt{
   height: 200px;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 10px;
}
.btn-navegacion{
    margin: 10px;
    width: 100px;
}
.btn-navegacion a{
    color: rgb(28, 94, 238);
    border: 1px solid rgb(28, 94, 238);
}
.logo {
    font-size: 2em;
}

// FIN NAVBAR

// CARRUSEL

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 30vw;
  }
  @media (max-width: 1000px) { /* ajustar el valor de ancho en pantallas más pequeñas */
    .carousel {
        width: 40vw;
    }
}
@media (max-width: 600px) { /* ajustar el valor de ancho en pantallas más pequeñas */
    .carousel {
        width: 60vw;
    }
}
  .slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    text-align: center;
  }
  .slide img{
    max-width: 60%;
    margin: 20px;
  }

  .carousel::-webkit-scrollbar {
    height: 20px; /*Altura de la barra de desplazamiento*/
  }
  
  .carousel::-webkit-scrollbar-track {
    background: #f1f1f1; /*Color del fondo de la barra de desplazamiento*/
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background: rgb(28, 94, 238); /*Color de la barra de desplazamiento*/
  }
  
  .carousel::-webkit-scrollbar-thumb:hover {
    background: #0c028d; /*Color de la barra de desplazamiento al pasar el cursor sobre ella*/
  }

  .firma {
    border: 1px solid #000;
    width: 200px;
    height: 100px;
}
  
// FIN CARRUSEL

// FOOTER

footer {
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    margin-top: auto;
  }
  .logo-footer {
      display:flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      justify-content: center;
  }
  .logo-footer-imagen{ 
    border-radius: 20px;
  }
  
// FIN FOOTER




// DESCARGAR DOCUMENTO

.botones-descarga{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn-descarga, #btn-login, #btn-register{
  background-color: rgb(28, 94, 238);
  color: white;
  font-weight: bolder;
  width: 200px;
  border-radius: 30px;
  margin: 10px;
}

#btn-enviar, #btn-guardar{
  color: rgb(28, 94, 238);
  background-color: white;
  font-weight: bolder;
  width: 200px;
  border-radius: 30px;
  margin: 10px;
}

.btn-esconder{
  display: none;
}

.btn-mostrar{
  display: block;
}

// FIN DESCARGAR

// LOGIN
.login-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// FIN LOGIN

// MENÚ LATERAL
#menu-lateral{
  height: 100vh;
  padding: 0;
  max-width: 280px;
}
.menu-lateral{
  padding: 0;
}
.div-centrado{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


//PERFIL DE USUARIO

.avatar{
  box-shadow: 0 0 10px rgba(2, 36, 103, 0.979);
  max-width: 200px;
  max-height: 200px;
  margin-left: 100px;
}

.avatar-nav{
  box-shadow: 0 0 10px rgba(2, 36, 103, 0.979);
  max-width: 65px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.btn-user{
  margin-top: 20px;
  color: rgb(28, 94, 238);
}
.btn-user:hover {
  color: rgb(28, 94, 238);
  font-weight: bolder;
}

.change-pass {
  max-width: 30%; /* Define el ancho deseado */
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  .change-pass {
    max-width: 50%; /* Cambia el ancho al 100% en pantallas pequeñas */
  }
}
@media (max-width: 900px) {
  .change-pass {
    max-width: 60%; /* Cambia el ancho al 100% en pantallas pequeñas */
  }
}
@media (max-width: 700px) {
  .change-pass {
    max-width: 100%; /* Cambia el ancho al 100% en pantallas pequeñas */
  }
}
// DOCUMENTOS

.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }

.pull-right.action-buttons {
  float: none;
  text-align: right;
}

.custom-width {
  max-width: 80%; /* Define el ancho deseado */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .custom-width {
    max-width: 100%; /* Cambia el ancho al 100% en pantallas pequeñas */
  }
}
// FORMULARIOS ADMIN

.my-content-box {
  width: 20%;
  position: relative;
  margin-bottom: 50px;
}

/*
  BOTÓN ENCENDIDO
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.switch label:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  transition: transform 0.4s;
}

.switch input:checked + label {
  background-color: #4CAF50;
}

.switch input:checked + label:after {
  transform: translateX(26px) translateY(-50%);
}























































































































































































// PROGRESS

.progressBar {
  height: 30px;
}

.progressBar div {
  //color:#0c028d;
  font-size: 1.2em;
  width: 25%;
  //border-left: 1px solid #0c028d;
}

.progressBar div.finished {
  //color:white;
  //border-left: none;
  background-color: lightgrey;
}

.progressBar div.finished a {
  color:black;
  text-decoration: none;
}

.progressBar div.current {
  color:white;
  font-size: 1.2em;
  width: 25%;
}

// FIN PROGRESS