.resume {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 28px;
    color: #333;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 22px;
    color: #333;
}

.details {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.label {
    font-weight: bold;
    color: #666;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

#name {
    font-weight: bold;
}

#email, #telephone {
    color: #007bff;
}

#company {
    font-weight: bold;
    color: #007bff;
}

#position {
    font-style: italic;
}

#startDate, #endDate, #startDateDegree, #endDateDegree {
    font-style: italic;
    color: #888;
}

#workDetails, #degreeDetails {
    white-space: pre-wrap;
}

.label + span {
    margin-left: 10px;
}

.label:first-child {
    margin-left: 0;
}
